<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form>
        <label for="todo">할일 입력</label>
        <input type="text" id="todo">
        <button>추가</button>
    </form>
</div>
<ul>
    <li>
        <div>
            <label><input type="checkbox">자바 강의 보기</label><button>x</button>
        </div>
        <div>카테고리: 공부</div>
    </li>
    <li>
        <div>
            <label><input type="checkbox">빨래 하기</label><button>x</button>
        </div>
        <div>카테고리: 집안일</div>
    </li>
</ul>
</body>
</html>