<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form action="/todos/new" method="post">
        <label for="category">카테고리</label>
        <select name="category" id="category">
            <option value="STUDY">스터디</option>
            <option value="HOUSEWORK">집안일</option>
        </select>
        <label for="content">할일 입력</label>
        <input type="text" id="content" name="content">
        <button>추가</button>
    </form>
</div>
<ul>
    <li th:each="todo : ${todos}">
        <div>
            <label><input type="checkbox" th:text="${todo.content}"></label><button>x</button>
        </div>
        <div th:text="${'카테고리: '+todo.category}">카테고리: 공부</div>
    </li>
</ul>

<script>
    const $form = document.querySelector('form')
    $form.addEventListener('submit', (e) => {
        if (!$form.content.value) {
            alert('할 일을 입력하세요');
            e.preventDefault();
        }
    })
</script>
</body>
</html>